<!-- <div class="container p-4">
  <div class="row">
    <div class = "col text-center">
<a (click) = "changeState('state2')" class="btn btn-danger">Change to state 2</a>
    </div>
   <div class = "col text-center">
<a (click) = "changeState('state1')" class="btn btn-danger">Change to state 1</a>
    </div> 
    <a  (click) = "changeState('state2')" [@changeState]="currentState" class="myblock mx-auto"><img src="https://cdn.mos.cms.futurecdn.net/HqNmPVHMpCjBUBvuWuZuMc.jpg"></a> 
  </div> -->

<!-- 
 <div *ngIf="state2" class="row justify-content-center align-items-center">
  <img #imageThumbnail (click) = "changeState()"  class="ngxImageZoomThumbnail" [src]="myThumbnail" >
</div>
<div *ngIf="state" class="row justify-content-center align-items-center">
  <img   [src]="myFullresImage" >
</div> -->

<!-- <img [src]=myThumbnail> 
<app-animate *ngIf = "state" (onclick) = "changeState()" ng-reflect-set-zoom-mode="hover">
  [thumbImage] = {{myThumbnail}}
  [fullImage] = {{myFullresImage}}
</app-animate> -->
<!-- <router-outlet></router-outlet> -->

<panorama-equirectangle texture="/assets/img/2294472375_24a3b8ef46_o.png"
    [widthSegments]="60"
    [heightSegments]="40"
    [radius]="500"
    [fieldOfView]="75"
    [nearClipping]="1"
    [farClipping]="1100"></panorama-equirectangle>