<!-- <div class="container p-4">
  <div class="row">
    <div class = "col text-center">
<a (click) = "changeState('state2')" class="btn btn-danger">Change to state 2</a>
    </div>
   <div class = "col text-center">
<a (click) = "changeState('state1')" class="btn btn-danger">Change to state 1</a>
    </div> 
    <a  (click) = "changeState('state2')" [@changeState]="currentState" class="myblock mx-auto"><img src="https://cdn.mos.cms.futurecdn.net/HqNmPVHMpCjBUBvuWuZuMc.jpg"></a> 
  </div> -->


<!-- <div class="row justify-content-center align-items-center">
  <app-animate></app-animate> 
</div> -->
<img [src]=myThumbnail> 
<app-animate ng-reflect-set-zoom-mode="hover">
  [thumbImage] = {{myThumbnail}}
  [fullImage] = {{myFullresImage}}
</app-animate>
<!-- <router-outlet></router-outlet> -->